.row {
  display: flex;
}

.item {
  align-items: center;
  border: 1px solid lightgrey;
  display: flex;
  height: 64px;
  justify-content: center;
  margin: 8px;
  padding: 8px;
  width: 64px;
}

.focused {
  background-color: lightgrey;
}
